@model PenielBikeControle.Models.ViewModels.VendaViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastroDeVendas</title>
</head>
<body>

    <h4>Venda</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
                <div class="col-md-12 form-group">
                    <label asp-for="ProtudoEstoqueIds" class="control-label"></label>
                    <select asp-for="ProtudoEstoqueIds" class="form-control form-control-sm" multiple asp-items="Model.ListaDeProdutos"></select>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="ClienteId" class="control-label"></label>
                    <select asp-for="ClienteId" class="form-control form-control-sm" asp-items="Model.ListaDeClientes"></select>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="VendedorId" class="control-label"></label>
                    <select asp-for="VendedorId" class="form-control form-control-sm" asp-items="Model.ListaDeVendedores"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Venda.Data" class="control-label"></label>
                    <input asp-for="Venda.Data" class="form-control" />
                    <span asp-validation-for="Venda.Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Venda.DescontoTotal" class="control-label"></label>
                    <input asp-for="Venda.DescontoTotal" class="form-control" />
                    <span asp-validation-for="Venda.DescontoTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
