@model PenielBikeControle.Models.TipoProdutoEstoque

<div class="row">
    <div class="col-md-12">    
        <input asp-for="Id" style="display: none;" />
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
        </div>
    </div>
</div>