@model PenielBikeControle.Models.ViewModels.AdicionarProdutoClienteViewModel

<div class="col-md-12">
    <div class="row">
        <input asp-for="Id" style="display: none;" />

        <div class="form-group col-md-12">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
        </div>        
        <div class="form-group col-md-6">
            <label asp-for="Marca" class="control-label"></label>
            <input asp-for="Marca" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Modelo" class="control-label"></label>
            <input asp-for="Modelo" class="form-control" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
        </div>
        <div class="col-md-8 form-group">
            <label asp-for="ClienteId" class="control-label"></label> 
            <select asp-for="ClienteId" class="form-control form-control-sm select" asp-items="Model.Clientes"><option></option></select>
        </div>
    </div>
</div>