@model PenielBikeControle.Models.ViewModels.ProdutoClienteViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Produtos do Cliente</title>
</head>
<body>

    <h4>Produtos</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Cadastro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProdutoCliente.Id" class="control-label"></label>
                    <input asp-for="ProdutoCliente.Id" class="form-control" />
                    <span asp-validation-for="ProdutoCliente.Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProdutoCliente.Nome" class="control-label"></label>
                    <input asp-for="ProdutoCliente.Nome" class="form-control" />
                    <span asp-validation-for="ProdutoCliente.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProdutoCliente.Marca" class="control-label"></label>
                    <input asp-for="ProdutoCliente.Marca" class="form-control" />
                    <span asp-validation-for="ProdutoCliente.Marca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProdutoCliente.Modelo" class="control-label"></label>
                    <input asp-for="ProdutoCliente.Modelo" class="form-control" />
                    <span asp-validation-for="ProdutoCliente.Modelo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProdutoCliente.Descricao" class="control-label"></label>
                    <input asp-for="ProdutoCliente.Descricao" class="form-control" />
                    <span asp-validation-for="ProdutoCliente.Descricao" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="ClienteId" class="control-label"></label>
                    <select asp-for="ClienteId" class="form-control form-control-sm" asp-items="Model.ListaClientes"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
