#tabela-orcamento_filter {
    display: none;
}
#tabela-orcamento_length {
    display: none;
}
.td-remover {
    text-align: center;
}
.btn-remover {
    /* width: 70px; */
    font-size: 12px;
    height: 25px;
    background: center;
    color: red;
    font-weight: bold;
}
.row-table {
    font-weight: bold;
}
